Azure Media v3/NETCore/MediaV3ConsoleApp/obj
Azure Media v3/NETCore/MediaV3ConsoleApp/bin
Azure Media v3/NETCore/MediaV3ConsoleApp/[Oo]utput
Azure Media v3/NETCore/MediaServicesClient/obj/MediaServices.csproj.nuget.cache
Azure Media v3/NETCore/MediaServicesClient/bin/Debug/netstandard1.4/MediaServices.dll
Azure Media v3/NETCore/MediaServicesClient/bin/Debug/netstandard1.4/MediaServices.pdb
Azure Media v3/NETCore/MediaServicesClient/obj/MediaServices.csproj.nuget.g.props
Azure Media v3/NETCore/MediaServicesClient/obj/MediaServices.csproj.nuget.cache
Azure Media v3/NETCore/MediaServicesClient/obj/project.assets.json
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.dll
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/App.config
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.csproj.FileListAbsolute.txt
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.dll.config
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/MediaServices.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/MediaServices.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/media-services-v3-netcore.csproj.nuget.cache
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/media-services-v3-netcore.csproj.nuget.g.props
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/project.assets.json
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.csproj.FileListAbsolute.txt
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.csprojResolveAssemblyReference.cache
Azure Media v3/NETCore/MediaV3ConsoleApp/App.config
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.dll
Azure Media v3/NETCore/MediaServicesClient/bin/Debug/netstandard1.4/MediaServices.dll
Azure Media v3/NETCore/MediaServicesClient/bin/Debug/netstandard1.4/MediaServices.pdb
Azure Media v3/NETCore/MediaServicesClient/obj/MediaServices.csproj.nuget.cache
Azure Media v3/NETCore/MediaServicesClient/obj/MediaServices.csproj.nuget.g.props
Azure Media v3/NETCore/MediaServicesClient/obj/project.assets.json
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.pdb
Azure Media v3/NETCore/MediaServicesClient/obj/Debug/netstandard1.4/MediaServices.csproj.FileListAbsolute.txt
Azure Media v3/NETCore/MediaV3ConsoleApp/App.config
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/MediaServices.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/MediaServices.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/bin/Debug/netcoreapp2.0/media-services-v3-netcore.dll.config
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/media-services-v3-netcore.csproj.nuget.cache
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/media-services-v3-netcore.csproj.nuget.g.props
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/project.assets.json
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.dll
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.pdb
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.csproj.CoreCompileInputs.cache
Azure Media v3/NETCore/MediaV3ConsoleApp/obj/Debug/netcoreapp2.0/media-services-v3-netcore.csproj.FileListAbsolute.txt
Azure Media v3/NETCore/MediaV3ConsoleApp/App.config
Azure Media v3/NETCore/MediaV3ConsoleApp/App.config
