<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AadTenantId" value="" />
        <add key="AadEndpoint" value="https://login.microsoftonline.com" />
        <add key="AccountName" value="" />
        <add key="AadSecret" value="" />
        <add key="ArmAadAudience" value="https://management.core.windows.net/" />
        <add key="SubscriptionId" value="" />
        <add key="AadClientId" value="" />
        <add key="ResourceGroup" value="" />
        <add key="ArmEndpoint" value="https://management.azure.com/" />
        <add key="Region" value="" />
    </appSettings>
</configuration>