<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="AadClientId" value="62effe22-d727-4c81-abf1-28d5e3155a27" />
    <add key="Region" value="West US 2" />
    <add key="AccountName" value="build2018" />
    <add key="AadSecret" value="49202ea8-ee06-436e-b492-f1685663ea43" />
    <add key="SubscriptionId" value="35c2594a-23da-4fce-b59c-f6fb9513eeeb" />
    <add key="ArmEndpoint" value="https://management.azure.com/" />
    <add key="ResourceGroup" value="build2018" />
    <add key="AadEndpoint" value="https://login.microsoftonline.com" />
    <add key="ArmAadAudience" value="https://management.core.windows.net/" />
    <add key="AadTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    </appSettings>
</configuration>